* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




h1, h2, h3, h4, h5, h6 {
    font-family: Arimo, sans-serif;
}



main {
    text-align: center;
}

li {
    padding: 10px;
    font-size: 1.2rem;
}

p {
	font-family: Arimo, sans-serif;
    padding: 5px;
}

h2 {
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


header {
    background-color: #ff5200;
    padding: 3rem;
    color:white;
    text-align: center;
}

footer {
	background-color: #484744;
	color: white;
	padding: 2rem;
	text-align: center;
	font-size: 1.5rem;
	
}

.primary-color {
    color:#ff5200;
}
.secondary-color {
    color:#484744;
}